<div class="container mt-5">
  <h1 class="text-center mb-4">Pessoas</h1>

  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Perfil</th>
          <th scope="col">Idade</th>
          <th scope="col">E-mail</th>
          <th scope="col">Ativo</th>
          <th scope="col">País</th>
          <th scope="col">Nível de Experiência</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let profile of profiles">
          <th scope="row">{{ profile.id }}</th>
          <td>{{ profile.name }}</td>
          <td>{{ profile.role }}</td>
          <td>{{ profile.age }}</td>
          <td>{{ profile.email }}</td>
          <td>{{ profile.isActive ? 'Sim' : 'Não' }}</td>
          <td>{{ profile.country }}</td>
          <td>{{ profile.experience }}</td>
          <td>
            <a class="btn btn-primary btn-sm me-2" [routerLink]="['/profile/edit', profile.id]">Editar</a>
            <button class="btn btn-danger btn-sm" (click)="onDelete(profile.id)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="text-center">
    <a class="btn btn-dark" routerLink="/profile/create">Cadastrar</a>
  </div>
</div>
