<header class="py-5 bg-primary text-white">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center shadow-lg">
            <div class="m-4 m-lg-5">
                <h1 class="display-4 fw-bold text-dark">Avaliação Angular!</h1>
                <p class="fs-5 text-muted">O objetivo deste teste é avaliar suas habilidades no desenvolvimento de aplicativos web usando o framework Angular. Você está desafiado a criar uma aplicação Angular que permite listar, cadastrar, editar e excluir Pessoas.</p>
                <a class="btn btn-outline-primary btn-lg" routerLink="/profile/">Ir para a página de listagem de pessoas</a>
            </div>
        </div>
    </div>
</header>

<div class="container my-5">
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title">Sobre o site</h2>
                    <p class="card-text">Este projeto é uma aplicação Angular para gerenciar perfis de pessoas, permitindo listar, cadastrar, editar e excluir perfis através de uma interface web.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title">Sobre mim</h2>
                    <p class="card-text">Profissional altamente motivado e dedicado com aspirações em se tornar um desenvolvedor Fullstack na área de Tecnologia da Informação.</p>
                </div>
                <div class="card-footer text-center"><a class="btn btn-outline-primary btn-sm" href="https://www.linkedin.com/in/lucas-kirow-fernandes-304b74272/">Mais informações</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title">Principais funcionalidades</h2>
                    <ul class="list-unstyled">
                        <li><p class="card-text">1. Listagem de Perfis</p></li>
                        <li><p class="card-text">2. Cadastro de Perfis</p></li>
                        <li><p class="card-text">3. Edição de Perfis</p></li>
                        <li><p class="card-text">4. Exclusão de Perfis</p></li>
                    </ul>
                </div>
                <div class="card-footer text-center"><a class="btn btn-outline-primary btn-sm" href="https://github.com/LuscaKF/AvAngularFront">Mais informações</a></div>
            </div>
        </div>
    </div>
</div>
